#restaurant, #blog, #post, #footer { padding-top: 150px; 
    .carousel-menu { height: 100%; 
        .item { height: 100% ;
            img { height: 100% !important; width: 100% !important;}
        }
        .square-item { height: 100% !important}
    }
    .carousel-twitter { background-color: #00acee; color:#fff;
        a { color: #fff; font-weight: bold;}
    }
    .carousel-facebook { background-color: #3b5998; color:#fff;
        a { color: #fff; font-weight: bold; }
    }
	.square { z-index: 1;background: #111; height: 200px; margin-bottom: @grid-gutter-width; position: relative; overflow: hidden;  -webkit-backface-visibility: hidden;
        i { font-style: normal; }
        > i, img.icon { color: #fff; position: absolute; right: 10px; top: 10px; width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 30px; opacity: 0; .lh-transition(opacity 0.4s);}
        &:hover {
            img.icon{ opacity: 1;}
            .square-bg { opacity: 0.1;}
            img { opacity: 0.1; }
            .square-header { opacity: 0; .lh-transform(translate(0, -10px)); .lh-transition-delay(0s); }
            .square-post, .square-post-hover { opacity: 1; -webkit-transform: translate(0, 0); .lh-transform(translate(0,0)); .lh-transition-delay(0.2s); }
            i { opacity: 1; font-style: normal;  }
        }
        .square-bg { background-size: cover; background-position: center center; width: 100%; height: 100%; .lh-transition(opacity 0.3s); }
        iframe { max-width: 100%; }
    }
	.square-big { height: 420px;
        a { display: block; height: 100%; width: 100%; }
        .item, .square-item { height: 100%;}
    }
	

	img { display: block; .transition(opacity 0.3s); }
	.square-header {  .lh-transition-delay(2s); position: absolute;
        bottom: 10px; left: 15px; line-height: 1em; font-size: 32px; background: rgba(0,0,0,0.80); padding: 5px 10px; .lh-transition(transform 0.3s 0.2s, opacity 0.5s 0.2s);
        .title { color: #fff; font-size: 32px; font-weight: 300; margin: 0;  }
        .description { font-size: 24px; color: #9E9E9E; font-weight: 200; margin: 0; 
            strong { color: #fff; }
        }

    }

    .square-post-hover {  position: absolute; bottom: 10px; left: 15px; opacity: 0; line-height: 1em; font-size: 32px; padding: 5px 10px;
        .lh-transition(transform 0.3s, opacity 0.5s); .lh-transform(translate(0,10px));
        .title { color: #fff; font-size: 32px; font-weight: 300; margin: 0; }
        .title-fb { color: #fff; line-height:1em; font-size: 16px; font-weight: 300; margin: 0; }
        .title-ago { color: #fff; line-height:1em; font-size: 12px; font-weight: 200; margin: 0; }
        .description { font-size: 24px; color: #9E9E9E; font-weight: 200; margin: 0; 
            strong { color: #fff; }
        }
        .days { list-style: none; margin: 0; padding: 0; color: #9E9E9E; font-weight: 200;
            li { font-size: 18px; }
            strong { color: #fff; }
            span.small-day { display: inline-block; width: 28px; margin-right: 10px; text-align: right;}
        }
        i { position: static; font-style: normal;  }
    }


    .square-post {  position: absolute; bottom: 0; left: 0; opacity: 0; padding: 15px 20px; .lh-transition(transform 0.3s, opacity 0.5s); .lh-transform(translate(0,10px));
        .title { color: #fff; font-size: 32px; font-weight: 300; margin: 0 0 5px 0; line-height: 1em; }
        .description { font-size: 16px; color: #9E9E9E; font-weight: 200; margin: 0; line-height: 1.5em; 
            strong { color: #fff; }
        }
        .days { list-style: none; margin: 0; padding: 0; color: #9E9E9E; font-weight: 200;
            li { font-size: 18px; }
            strong { color: #fff; }
            span.small-day { display: inline-block; width: 28px; margin-right: 10px; text-align: right;}
            span.large-day { margin-right: 15px; }
        }
        i { position: static; }
    }
    .slide-switch { width: 100%; text-align: center; margin: 0; padding: 0; position: absolute; top: 10px; left: 0; 
        li { display: inline-block;}
        i { position: static; font-size: 16px; }

    }
}


.square { opacity: 0; .lh-transition(opacity 0.7s, transform 0.7s); .lh-transform(translate(0, -20px)); }
.is-loaded { opacity: 1;  .lh-transform(translate(0, 0))}

.square-item { height: 100% !important}
.controls { margin: 0 !important;}

#restaurant-bg { content: ""; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; display: none;}
